@{
  Layout = "_Layout";
}
<h1 id="clearContacts">*Clear Contacts List*</h1>
<form action = "contacts/clear" method = "post">
<p id="warning"><span><strong>WARNING</strong>: You are about to clear all your contacts</span>
<button type = "submit" name="button">Clear All Contacts</button>
</form>
