@{
  Layout = "_Layout";
}
  <h1>@Model.GetLastName()</h1>
  <h1>@Model.GetFirstName()</h1>
  <h1>@Model.GetPhoneNumber()</h1>
  <h1>@Model.GetAddress()</h1>


  <a href="/contacts/new">Add Another Contact</a>
  <a href="/">View all Contacts</a>
