@{
  Layout = "_Layout";
}
<h1 id="allContacts">Contacts List</h1>
<ul>
  @foreach (var contact in Model)
  {
    <li><a href='/contacts/@contact.GetId()'>@contact.GetLastName(), @contact.GetFirstName()</a></li>
  }
</ul>
<a href ="/contacts/new">Add new Contact</a>
<a href="/">Return to Homepage</a>
